.navi_pic {
    width: 100px;
    height: 60px;
}

.navi_menu {
    font-weight: bold;
    align-items: center;
}

.navi_search_pic {
    width: 30px;
    height: 30px;
}

.navi_bell_pic {
    width: 25px;
    height: 25px;
    margin-left: 1%;
}

.navi_profile_pic{
    width: 40px;
    margin-left: 2%;
    border-radius: 50%;
    margin-right: 15%;
}

.navi_dropdown {
    width:50px;
}