.areasearch_div1 {
    height: 200px;
    background: darkseagreen;
}

.areasearch_formcontrol {
    height: 50px;
    border: 1px solid grey; 
    padding: 2%;
    background: white;
}

.areasearch_col1 {
    text-align: -webkit-center;
    padding-top: 3%;
}

.areasearch_col2 {
    text-align: -webkit-center;
    text-align: left;
}

.areasearch_col3 {
    text-align-last: center;
}

.areasearch_row {
    padding-top: 2%;
}

.areasearch_form {
    margin-left: 62px;
    width: 85%;
}

.areasearch_div2 {
    background: white; 
    width: 200px;
    height: 50px;
    border-radius: 5%;
}