.boardlist_h1 {
    text-align-last: center;
    font-weight: bold;
    padding-top: 2%;
    margin-bottom: 4%;
}

.boardlist_table {
    height: 700px;
    /* 임시 밑줄 */
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

.boardlist_thead_tr {
    height: 50px;
    background-color: #198754;
}

.boardlist_tbody_tr {
    height: 50px;
    border-bottom: 1px solid lightgrey;
}