.boardlist_h1 {
    text-align-last: center;
    font-weight: bold;
    padding-top: 2%;
    margin-bottom: 4%;
}

.boardlist_title_content {
    width: 99px;
    height: 37px;
    padding-top: 0.4%;
    border: 2px solid grey;
    background: lightgrey;
    border-radius: 8%;
}

.boardlist_input {
    width: 250px;
    margin-right: 1%;
}

.boardlist_button {
    text-align: right;
    margin-bottom: 1%;
    margin-right: 3%;
}

.boardlist_table {
    width: 100%;
    text-align: -webkit-center;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

.boardlist_thead_tr {
    height: 50px;
    background-color: #198754;
}

.boardlist_tbody_tr {
    height: 50px;
    border-bottom: 1px solid lightgrey;
}

.boardlist_pagination {
    justify-content: center;
    margin-bottom: 5%;
}

.boardlist_div {
    height: 90%;
    width: 5%;
    margin-right: 0.1%;
    border: 1px solid green;
    text-align-last: center;
    border-radius: 10%;
    padding-top: 0.4%;
}

.boardlist_div:focus {
    height: 90%;
    width: 5%;
    margin-right: 0.1%;
    border: 1px solid white;
    text-align-last: center;
    border-radius: 10%;
    padding-top: 0.4%;
}

.boardlist_div:focus {
    height: 90%;
    width: 5%;
    margin-right: 0.1%;
    border: 1px solid white;
    text-align-last: center;
    border-radius: 10%;
    padding-top: 0.4%;
}
