.login_header{
    margin-left: auto;
}

.login_pic_div{
    text-align: center;
}

.login_pic {
    width: 30%;
}

.login_kakao_pic {
    width: 70%;
}

.login_google_pic {
    width: 70%;
    cursor: pointer;
}