.visitedcamp_div1 {
    margin-top: 3%;
    text-align-last: center;
}

.visitedcamp_main {
    margin-top: 3%;
    margin-bottom: 5%;
    text-align: -webkit-center;
}

.visitedcamp_pagination {
    justify-content: center;
    margin-bottom: 5%;
}
