.visitedcamp_div1 {
    margin-top: 3%;
    text-align-last: center;
}

.visitedcamp_main {
    margin-top: 3%;
    text-align: -webkit-center;
}

.visitedcamp_pagination {
    justify-content: center;
}

.visitedcamp_comment {
    padding: 2%;
}