.intro {
  display: flex;
  justify-content: center;
}

.intro_background {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 200px;
  background: #198754;
  border-radius: 50%;

  border: 6px solid #fff;
  box-shadow: 0 0 16px rgb(221, 221, 221);
}

.intro_text {
  font-size: 16px;
  color: white;
  text-align: center;
}
