.capmingplace_main_pic_div{
    text-align-last: center;
    width: 1320px;
    height: 300px;
    margin-top: 5%;
    border: 1px solid black;
}

.capmingplace_main_pic {
    width: 30%;
    margin-top: 3%;
}

.capmingplace_explain{
    margin-top: 2%;
    width: 1320px;
    height: 180px;
}

.campingexplain_icon {
    width: 35px;
    height: 35px;
    margin-bottom: 10%;
}

.campingexplain_icon2 {
    width: 30px;
    height: 35px;
    margin-bottom: 10%;
}

.campingexplain_reserve {
    width: 80px;
    height: 30px;
    background: red;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding-top: 4%;
}

.campingexplain_visit {
    width: 80px;
    height: 30px;
    background: purple;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding-top: 4%;
}

.campingexplain_rewiew {
    width: 80px;
    height: 30px;
    background: #198754;
    border-radius: 50px;
    color: white;
    font-weight: bold;
    padding-top: 4%;
}

.campingexplain_selectbar {
    height: 50px;
}

.campingexplain_select {
    width:330px;
    height: 50px;
    background: #198754;
    text-align-last: center;
    color: white;
    font-weight: bold;
    padding-top: 3%;
    border: 1px solid white;
    border-radius: 10px;
}
