.qnalist_h1 {
    text-align-last: center;
    font-weight: bold;
    padding-top: 2%;
    margin-bottom: 4%;
}

.qnalist_button {
    text-align: right;
    margin-bottom: 1%;
    margin-right: 3%;
}

.qnalist_table {
    height: 700px;
    text-align: -webkit-center;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

.qnalist_thead_tr {
    height: 50px;
    background-color: #198754;
}

.qnalist_tbody_tr {
    height: 50px;
    border-bottom: 1px solid lightgrey;
}

.qnalist_pagination {
    justify-content: center;
    margin-bottom: 5%;
}