.news_h1 {
    text-align-last: center;
    font-weight: bold;
    padding-top: 2%;
    margin-bottom: 4%;
}

.news_row {
    justify-content: right;
    text-align: right;
    margin-bottom: 1%;
}

.news_title_content {
    width: 99px;
    height: 37px;
    margin-right: -0.9%;
    padding-top: 0.6%;
    border: 2px solid grey;
    background: lightgrey;
    border-radius: 8%;
}

.news_table {
    width: 1296px;
    height: 700px;
    text-align: -webkit-center;
    border-bottom: 1px solid black;
    margin-bottom: 2%;
}

.news_thead_tr {
    height: 50px;
    background-color: #198754;
}

.news_tbody_tr {
    height: 90px;
    border-bottom: 1px solid lightgrey;
}

.news_pagination {
    justify-content: center;
    margin-bottom: 2%;
}